
{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block body %}
    <div class="container">
       <div class="flex_home">
         <div class="first_section">
            <h3>Search result for : {{ usernames }}</h3>
           <div class="contents_cards">
             {% if posts == 'nopost' %}
                <div class="post_error">user <span class="text-danger">{{ usernames }}</span> dont exist, posible reasons:
                   you have provided a wrong username and the system is not able to
                    retrieve any data ralating to this user. <div class="text-danger">Try correcting the username and retry.</div></div>
             {% else %}
              {% for post in posts %}
                  <div class="post_card card" style="margin-bottom: 10px;">
                    <div class="prifileimages" id="prifileimages">
                      <img src="../media/{{ post.profile.userimage }}" height="40px" width="40px" alt="">
                      <div class="names_details">
                        <div class="names">{{ post.profile }}</div>
                        <div class="emailcaption">{{ post.profile.useremail }}</div>
                      </div>
                    </div>
                    <div class="postimage"><img src="../media/{{ post.image_name }}" height="300px" width="100%" alt=""></div>
                    <div class="likes" id="likes">
                      <form action="{% url 'likes' post.id %}" method="post">
                        {% csrf_token %}
                        <button id="sendcomments"><i class="fa-solid fa-heart"></i></button>
                      </form>
                      <div class="numbers">
                        {% for like in alllikes %}
                            {% if post.id == like.postid %}
                            <div class="counts">{{ like.likes }} Likes</div>
                            {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="image_caption">{{ post.image_caption }}</div>
                    <div class="posted_comments">
                      {% if comms == 'nocomms' %}
                      <div class="nocomms">No comments for this post</div>
                      {% else %}
                        <div class="singlecomms">
                            <div class="notice" style="margin-left: 15px; font-style: italic; text-decoration: underline;">comments</div>
                          {% for comms in comms %}
                            {% if comms.post_id.id == post.id %}
                              <div class="comment_cards" style="margin-top: 10px; font-style: italic; font-size: 15px; line-height: 12px;">
                                <div class="comments_each" style="font-style: normal;font-weight: bold;">{{ comms.comment_by.username }}</div>
                                <div class="comments_each" style="color: rgb(138, 138, 138);font-style: normal;">{{ comms.comment_post }}...</div>
                                <div class="comments_each" style="font-size: 10px; color: rgb(177, 176, 176);">{{ comms.posted_date }}</div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                    <div class="comment_form">
                      <form action="{% url 'comments' post.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group" id="formgroups">
                          <textarea name="comments" id="post_comments" cols="30" rows="10" placeholder="Add a comment..."></textarea>
                          <button id="sendcomments"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                      </form>
                    </div>
                  </div>
              {% endfor %}
           </div>
         </div>
         <!-- second -->
           <div class="followers current_following" id="home_followers">
             <h3>Profile</h3>
             <div class="usernames">username: {{ profile.username }}</div>
             <div class="usernames">useremail: {{ profile.useremail }}</div>
             <div class="usernames">posts: {{ posts.count }}</div>
             <div class="profileimages"><img src="../media/{{ profile.userimage }}" height="150px" width="150px" alt=""></div>
           </div>
       </div>
       <!--  -->
    </div>
    {% endif %}
  
{% endblock %}